.header {
  height: 80px;
  width: 100vw;
  padding: 2vh 2vw 2vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: skyblue;
}

.header-logo {
  height: 65px;
  width: 200px;
}

.header-contents {
  height: 40px;
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

.header-mypage {
  height: 40px;
  width: 40px;
}

.user-login {
  height: 55px;
  width: 55px;
}

.user-sign-up {
  height: 55px;
  width: 55px;
}

.header-rooms {
  height: 40px;
  width: 40px;
}

.header-calendar {
  height: 40px;
  width: 40px;
}