.second-header {
  height: 80px;
  width: 100vw;
  padding: 2vh 2vw 2vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: skyblue;
}

.header-logo {
  height: 65px;
  width: 200px;
}