.third-header {
  height: 80px;
  width: 100vw;
  padding: 2vh 2vw 2vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: skyblue;
}

.header-logo {
  height: 65px;
  width: 200px;
}

.third-header-contents {
  height: 40px;
  width: 50vw;
  display: flex;
  justify-content: right;
}

.user-create-room{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: skyblue;
  text-decoration: none;
  color: black;
  line-height: 48px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 7vw;
  border: 2px solid #f5f5f5;
  border-style: groove;
  border-radius: 10px;
}

.user-exit {
  width: 38px;
  margin-right: 7vw;
}

.user-edit {
  width: 40px;
  margin-right: 20px;
}