.third-header {
  height: 70px;
  width: 100vw;
  padding: 2vh 4vw 2vh 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: skyblue;
}

.third-header-logo a{
  font-size: 30px;
  color: black;
}

.third-header-contents {
  height: 40px;
  width: 50vw;
  display: flex;
  justify-content: right;
}

.user-create-room{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00f7ff;
  border: 3px solid #f5f5f5;
  border-style: groove;
  text-decoration: none;
  color: black;
  line-height: 48px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 7vw;
}

.user-exit {
  width: 38px;
  margin-right: 7vw;
}

.user-edit {
  width: 40px;
}