.my-page-main{
  width: 100%;
  min-width: 900px;
  padding: 60px 50px;
  background-color: skyblue;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.my-page-header{
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 22px;
}

.my-page-header-text{
  width: 70%;
  margin: auto;
  line-height: 70px;
  font-weight: bold;
  background-color: rgb(169, 222, 244);
  border: 3px solid #f5f5f5;
  border-style: groove;
  border-radius: 20px;
}

.my-page-profile{
  width: 70%;
  display: flex;
  flex-flow: column;
  background-color: rgb(169, 222, 244);
  margin: 20px auto 20px;
  padding: 20px 0;
  border: 3px solid #f5f5f5;
  border-style: groove;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-page-profile-text{
  height: 50px;
  text-align: center;
  font-size: 22px;
}

.profile-contents{
  width: 80%;
  padding-top: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 3px solid #f5f5f5;
  border-bottom-style: groove;
}

.profile-text{
  width: 50%;
  height: 40px;
  font-size: 14px;
}

.profile-content{
  width: 100%;
  font-size: 12px;
}

.chat-rooms{
  width: 90%;
  display: flex;
  flex-flow: column;
}

.page-rooms-text{
  text-align: center;
  font-size: 22px;
  margin: 20px;
}

.room-contents{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(169, 222, 244);
  padding: 10px 0;
  margin-bottom: 10px;
  border: 3px solid #f5f5f5;
  border-style: groove;
  border-radius: 20px;
}

.room-text{
  font-size: 10px;
}

.room-name{
  font-size: 15px;
  text-decoration: none;
  padding-top: 10px;
}

.profile-content{
  padding: 10px 10px 0 0;
}

.open-room-btn{
  font-size: 15px;
  color: rgb(90, 88, 232);
  text-decoration: none;
  background-color: rgb(191, 240, 221);
  padding: 10px 20px;
  border: 3px solid #f5f5f5;
  border-style: groove;
  border-radius: 10px;
}

.destroy-room-btn{
  font-size: 15px;
  color: rgb(191, 240, 221);
  text-decoration: none;
  background-color: rgb(90, 88, 232);
  padding: 10px 20px;
  border: 3px solid #f5f5f5;
  border-style: groove;
  border-radius: 10px;
}